.save{
    .mini-header{
        h1{
            width: 80%;
        }
    }
    .savings-app{
        padding: 12rem 12rem 0;
        background-color:#f4f8fc;
        &__image{
            width:100%;
            padding: 0 10% 0 2%;
            overflow: hidden;
            img{
                width:100%;
                object-fit: cover;
                margin-bottom: -25%;
            }
        }
        &__info{
            padding-right: 20%;
            p{
                padding-bottom: 2rem;
            }
        }
    }
    .join-circle{
        padding: 10rem 8rem 10rem 10rem;
        &__info{
            padding-left: 16%;
            p{
                padding-bottom: 2rem;
            }
        }
        &__image{
            width:100%;
            overflow: hidden;
            padding-right: 3rem;
            img{
                width:100%;
                object-fit: cover;
                min-height: 80vh;
                border-radius:2rem;
            }
        }  
    }
    .halal{
        padding: 10rem 18rem;
        &__info{
            padding-right: 20%;
        }
        &__image{
            width: 100%;
            padding: 0 2.4rem 0 1.6rem;
            img{
                object-fit: contain;
                width: 100%;
                border-radius: 2rem;
            }
        }
    }
}
@media screen and (max-width:1250px) {
 .save{
    .savings-app{
        padding: 10rem 3rem 0;
    }
    .join-circle{
        padding: 8rem 3rem 8rem 3rem;
    }
    .halal{
        padding: 9rem 8rem;
    }
 }
}
@media screen and (max-width:1080px) {
    .save{
        .mini-header{
            h1{
                width: 100%;
            }
        }
         .halal{
        padding: 9rem 5rem;
         &__info{
            padding-right: 3rem;
            h3{
                width: 100%;
            }
        }
    }
    }
}
@media screen and (max-width:900px) {
    .save{
       .savings-app{
           &__image{
            padding: 0 2.4rem 0 1rem;
           }
           &__info{
            padding-right: 4rem;
           }
       }
       .join-circle{
        width: 100%;
          &.grid-two{
            grid-template-columns: 1fr;
          }
          &__info{
            padding-left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            .btn{
                margin: 1rem auto 0;
                align-self: center;
            }
          }
          &__image{
            padding-right: 0;
            padding-bottom: 4rem;
            img{
                min-height: 50rem;
            }
          }
       }
        .halal{
        padding: 9rem 2.4rem;
       
    }
    }
   }
   @media screen and (max-width:600px){
    .save{
        .savings-app{
            &.grid-two{
                grid-template-columns: 1fr;
            }
            &__image{
                padding: 1rem 0 0 0;
                img{
                    height: 30rem;
                    min-height: 30rem;
                }
            }
        }
        .join-circle{
              &__image{
                img{
                    min-height: 30rem;
                }
              }
           }
        .halal{
            padding: 6rem 2.4rem;
            &.grid-two{
                    grid-template-columns: 1fr;
                }
                &__image{
                    grid-row: 1;
                    padding: 0 0 4rem;
                    img{
                        max-height: 40rem;
                        object-fit: cover;
                    }
                }
            }
        }
   }