.stash-faces{
    overflow-x:hidden ;
    width: 100%;
    .animation{
        display: flex;
        width: 100%;
        overflow-x: visible;
        margin: 15rem 0 ;
        scrollbar-width: none;
        -ms-overflow-style: none;
        perspective: 100%;
        &::-webkit-scrollbar{
            display: none;
        }
        .persona{
            margin-right: 8rem;
            display: flex;
            justify-content: center;
            height: 7.5rem;
            min-width: 22rem;
            align-items: center;
            &:hover{
                .image{
                    img{
                        transform: scale(1.22);
                        transition: transform .3s ease-in;
                    }   
                }
                span{
                    color: $color-primary-blue;
                    transition: color .3s ease-in;
                }
            }
            .image{
                position: relative;
                min-height: 6.6rem;
                min-width: 6.6rem;
                .bg{
                    background-image: url(/assets/stash/stash-diagonal-pattern.svg);
                    background-repeat: no-repeat;
                    width: 7.4rem;
                    height: 6.7rem;
                    border-radius: 100%;
                    position: absolute;
                    left: -1rem;
                    z-index: 0;
                }
                img{
                    position: absolute;
                    height: 6.6rem;
                    width: 6.6rem;
                    top: 0;
                    left: 0;
                    border-radius: 100%;
                    overflow: hidden;
                    box-shadow: 1px 3px 4px rgba(8,37,82,.1);
                    z-index: 1;
                }
            }
            span{
                    display: inline-block;
                    font-size: 2rem;
                    font-weight: 600;
                    margin-left: 3rem;
                    color: #082552;
                    width: max-content;
            }
        }
        &.to-left{
            .persona{
            animation: animate-left 90s linear infinite;
            }
            &:hover{
                .persona{
                    animation-play-state: paused;
                }
            }
        }
        &.to-right{
            .persona{
            animation: animate-right 90s linear infinite;
            }
            &:hover{
                .persona{
                    animation-play-state: paused;
                }
            }
        }
    }
    .center{
        width: 50%;
        margin: 0 auto 6rem;
        h3{
            letter-spacing: -.5px;
        }
        span,p{
            color: $color-neutral;
            opacity: 0.8;
        }
        p{
            font-size: 1.9rem;
            letter-spacing: -.2px;
        }
    }
}
@keyframes animate-left {
    0%{
        transform: translatex(0);
    }
    100%{
        transform: translatex(calc(22rem * (-10)));

    }
}
@keyframes animate-right {
    0%{
        transform: translatex(calc(22rem * (-10)));
    }
    100%{
        transform: translatex(0);

    }
}
@media screen and (max-width:1300px) {
    .stash-faces{
        .center{
            width: 90%;
        }
    }
}
@media screen and (max-width:900px){
    .stash-faces{
        .center{
            width: 100%;
            padding: 0 2.4rem 5rem;
            margin: 0;
            p{
                font-size: 1.65rem;
            }
        }
        .animation{
            margin: 8rem 0;
            .persona{
                min-width: 16rem;
            }
        }
    }
    @keyframes animate-left {
        0%{
            transform: translatex(0);
        }
        100%{
            transform: translatex(calc(16rem * (-10)));
    
        }
    }
    @keyframes animate-right {
        0%{
            transform: translatex(calc(16rem * (-10)));
        }
        100%{
            transform: translatex(0);
    
        }
    }
}