.stash-invest{
    padding: 9rem;
    background-color: $light-bg;
    overflow-x: hidden;
    &__info{
        width: 100%;
        min-height: 35rem;
        .options{
            display: flex;
            border-radius: 2.4rem;
            background-color: $color-grey;
            margin: 2rem 0;
            align-items: center;
            width: max-content;
            div{
                letter-spacing: 1px;
                font-size: 1.15rem;
                text-transform: uppercase;
                color: rgba(8,37,82,.8);
                cursor: pointer;
                font-weight: 600;
                background-color: transparent;
                padding: 1.5rem 3rem;
                border-radius: 2.4rem;
                &:not(:first-child){
                    margin-left: 2rem;
                }
                &.active{
                    background-color: $color-primary-blue;
                    color: white;
                    transition: all 300ms ease;
                }
            }
        }
        h3{
            padding: 2rem 0;
        }
        p{
            font-size: 1.9rem;
            color: rgba(8,37,82,.6);
            margin-right: 10%;
        }
    }
    &__image{
        width: 100%;
        padding-left: 12%;
        img{
            width: 100%;
            object-fit: contain;

        }
    }
}
@media screen and (max-width:1200px) {
    .stash-invest{
        padding: 9rem 3rem;
    }
}
@media screen and (max-width:800px) {
    .stash-invest{
        padding: 6rem 3rem;
        &.grid-two{
            grid-template-columns: 1fr;
        }
        &__info{
            h3{
                padding: 1rem 0;
            }
            p{
                margin-right: 0;
                font-size: 1.65rem;
            }
            .options{
                div{
                    padding: 1.4rem 2.4rem;
                }
                &:not(:first-child){
                    margin-left: 1.2rem;
                }
            }
        }
        &__image{
            padding-left: 0;
            display: flex;
            place-items: center;
            img{
                max-width: 50rem;
                margin: 1rem auto 0 ;
            }
        }
    }
}