.toolkit{
    background-color: #f4f8fc;
    padding:12rem 9rem;
    .center{
        p{
            width: 65%;
            margin: auto;
        }
    }
}
@media screen and (max-width:1300px) {
    .toolkit{
        padding: 10rem 2.4rem;
    }
}
@media screen and (max-width:1300px) {
    .toolkit{
        .center{
            p{
                width:100%;
            }
        }
    }
}